{%  extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="cover-section" id="top-button">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown animated">
                    <div class="slider-item">
                        <img src="image/logo-simple.png" width="117" height="144" alt="">
                        <h2>Anne-Cécile Viault Chervier</h2>
                        <p>Masseur-kinésithérapeute à Venelles, je vous propose des prestations de Massage Californien à mon cabinet pour tous les particuliers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}