{%  extends 'base.html.twig' %}

{% block title %}SpaProject{% endblock %}

{% block body %}
    <div class="cover-section" id="top-button">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown animated">
                    <div class="slider-item">
                        <img src="image/logo-simple.png" width="117" height="144" alt="">
                        <h2>Anne-Cécile Viault Chervier</h2>
                        <p>Masseur-kinésithérapeute à Venelles, je vous propose des prestations de Massage Californien à mon cabinet pour tous les particuliers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="purilfy-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="purifliy-item wow fadeInDown animated">
                        <h3>Découvrez les bienfaits du massage Californien</h3>
                        <p>« Le massage est aussi nécessaire à l'être humain que les céréales dont il se nourrit » disait Socrate.</p>
                        <p>Un art que le sage Orient n'a jamais oublié, les indiens le pratiquent tous  les jours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="offer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown animated">
                    <h4>Notre offre spéciale : </h4>
                    <h2>Massage de 45 min. pour seulement 65€</h2>
                    <a href="#">Prenez un rendez-vous !</a>
                </div>
            </div>
        </div>
    </div>

    <div class="benefit-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Les bénéfices du bien-être</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 benefit-item wow fadeInDown animated" data-wow-delay="0.2s">
                    <h3>Benefice 1</h3>
                    <a href="#"><img src="image/beneifit1.png" width="207" height="208" class="img-responsive" alt=""></a>
                    <h2>Equilibre</h2>
                    <p>Un retour à l'équilibre nerveux.</p>
                </div>
                <div class="col-md-3 benefit-item wow fadeInDown animated" data-wow-delay="0.4s">
                    <h3>Benefice 2</h3>
                    <a href="#"><img src="image/benefit2.png" width="207" height="208"  class="img-responsive" alt=""></a>
                    <h2>Apaisement</h2>
                    <p>Un apaisement provoqué par la stimulation de nombreuses terminaisons nerveuses.</p>
                </div>
                <div class="col-md-3 benefit-item wow fadeInDown animated" data-wow-delay="0.6s">
                    <h3>Benefice 3</h3>
                    <a href="#"><img src="image/benefit3.png" width="225" height="226" class="img-responsive"  alt=""></a>
                    <h2>Récupération</h2>
                    <p>Quand la kiné rejoint le sport et améliore la récupération.</p>
                </div>
                <div class="col-md-3 benefit-item wow fadeInDown animated" data-wow-delay="0.8s">
                    <h3>Benefice 4</h3>
                    <a href="#"><img src="image/benefit4.png" width="207" height="208" class="img-responsive"  alt=""></a>
                    <h2>Estime</h2>
                    <p>Amélioration rapide de son estime personnel et de sa prise en charge.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="message-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 wow fadeInDown animated">
                    <h2 class="section-title">MASSAGE CALIFORNIEN</h2>
                    <p>Partant d'effleurages doux, enveloppants et relaxants, les manoeuvres s’enchaînent et s’intensifient pour soulager des tensions plus profondes. Cela peut faire surgir et libérer des émotions cachées, inscrites dans la mémoire corporelle. Plus la personne massée s’abandonne à l'expérience, plus elle s'ouvre à ce que le massage californien qualifie de toucher du coeur.</p>
                    <p>Profondément sensible, le bon déroulement du massage californien dépend totalement de la connexion entre le donneur et le receveur. En effet, il est primordial que le thérapeute soit à l'écoute et que le massé soit en totale confiance.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="news-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 news-item">
                    <div class="news-deatils wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="col-md-6 thumbnail">
                            <img src="image/blog1.png" width="249" height="272" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 content">
                            <span>23 Dec 2018</span>
                            <p>Pourquoi le massage californien ?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 news-item">
                    <div class="news-deatils wow fadeInDown animated" data-wow-delay="0.5s">
                        <div class="col-md-6 thumbnail">
                            <img src="image/blog2.jpg" width="249" height="272" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6 content">
                            <span>09 jan 2019</span>
                            <p>Bonne année, bonnes résolutions...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="client-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Témoignages de nos clients</h2>
                    <p class="title-cap"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="client-item wow fadeInDown animated" data-wow-delay="0.2s">
                        <div class="client-content">
                            <i class="fa fa-quote-left"></i>
                            <p>Un moment très agréable et une belle rencontre. Un grand merci ! Je reviendrai sans doute trés vite...</p>
                        </div>
                        <a href="#"><img src="image/client1.png" alt=""> </a>
                        <h3>Natacha D.</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="client-item wow fadeInDown animated" data-wow-delay="0.5s">
                        <div class="client-content">
                            <i class="fa fa-quote-left"></i>
                            <p>Très bonne séance de massage  qui a immédiatement soulagé mes tensions du dos. Je recommande vivement ! </p>
                        </div>
                        <a href="#"><img src="image/client2.png"  alt=""> </a>
                        <h3>Nadia R.</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="client-item wow fadeInDown animated" data-wow-delay="0.8s">
                        <div class="client-content">
                            <i class="fa fa-quote-left"></i>
                            <p>D'une grande douceur et d'un grand professionnalisme. Je me suis relâchée complétement, un vrai moment de détente.</p>
                        </div>
                        <a href="#"><img src="image/client.png"alt=""> </a>
                        <h3>Carla S.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="title-section">En direct du Blog...</h2>
                    <p class="title-cap">... ce qu'en disent nos clients.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInDown animated" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-md-3 blog-thumb">
                            <a href="#"><img src="image/blog-item1.png" width="127" height="190" alt=""></a>
                        </div>
                        <div class="col-md-9 blog-content">
                            <h3>Carla S.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#">Lire plus</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInDown animated" data-wow-delay="0.5s">
                    <div class="row">
                        <div class="col-md-3 blog-thumb">
                            <a href="#"><img src="image/blog-item2.png" width="127" height="190" alt=""></a>
                        </div>
                        <div class="col-md-9 blog-content">
                            <h3>Natacha D.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#">Lire plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Tarifs</h2>
                    <p class="section-cap">Notre offre complète et accessible.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 table-content wow fadeInDown animated" data-wow-delay="0.2s">
                    <div class="table-item sliver">
                        <h2>45<sup>€</sup></h2>
                        <h3>Express</h3>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>dolor sit amet</li>
                            <li>consectetur</li>
                            <li>adipisicing elit (30min)</li>
                        </ul>
                        <a href="#">Réservez...</a>
                    </div>
                </div>
                <div class="col-md-4 table-content wow fadeInDown animated" data-wow-delay="0.5s">
                    <div class="table-item gold">
                        <h2>65<sup>€</sup></h2>
                        <h3>Plaisir</h3>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>dolor sit amet</li>
                            <li>consectetur</li>
                            <li>adipisicing elit (45min)</li>
                        </ul>
                        <a href="#">Réservez...</a>
                    </div>
                </div>
                <div class="col-md-4 table-content wow fadeInDown animated" data-wow-delay="0.81s">
                    <div class="table-item platinum">
                        <h2>85<sup>€</sup></h2>
                        <h3>Relaxation Extrême</h3>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>dolor sit amet</li>
                            <li>consectetur</li>
                            <li>adipisicing elit (1h)</li>
                        </ul>
                        <a href="#">Réservez...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}

