{# templates/emails/registration.html.twig #}
<h3>Voil&agrave; qui est fait ! Vous &ecirc;tes enregistr&eacute;...</h3>

Bonjour {{ prenom }}! Vous vous êtes enregistré avec succès.

Pour vous connecter, rendez-vous <a href="{{ url('login') }}">ici</a>!

Merci, et à bientôt !

<img src="{{ absolute_url(asset('images/logo.png')) }}">