{# templates/emails/registration.html.twig #}
<h3>Voil&agrave; qui est fait ! Vous &ecirc;tes enregistr&eacute;...</h3>

Bonjour {{ name }}! Vous vous êtes enregistré avec succès.

Pour vous connecter, rendez-vous sur ce lien : <a href="{{ url('login') }}">...</a>.

Merci, et à bientôt !

<img src="{{ absolute_url(asset('images/logo.png')) }}">